@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}


@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}
html {
  overflow-y: scroll;
}
h3 {
  margin: 0;
}

a {
  color: #F1C40F;
  text-decoration:none;
  font-weight: bold;
}

p {
margin:0;
color: #555555;
}

p#para01{
  text-align: center;
  margin-bottom: 10px;
}


body {
  background-color: #f7f7f7;
  font-family: Calluna, Arial, sans-serif;
  min-height: auto; /* /Resizable */
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile{
  width:150px;
  height:150px;
  border-style: solid;
  border-color: #fff;
  border-width: 7px;
  border-radius:100%;
  position:relative;
  overflow:hidden;
  z-index:1;
  margin-left: auto;
  margin-right: auto;
  -webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
/* /box shadow */
-webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.1);
box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.1);
}

.profile img{
      -webkit-transition:all .2s ease;
      transition:all .2s ease;
      width:150px;
      height:150px;
}

.profile img:hover{
    -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.navbar {
  overflow: hidden;
  background-color: #f7f7f7;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px -10px 16px -10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px -10px 16px -10px rgba(0,0,0,0.05);
  box-shadow: 0px -10px 16px -10px rgba(0,0,0,0.05);

}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px auto;
}
.btn {
  background-color: #f7f7f7; 
  border: none;
  color: #95a5a6;
  padding: 15px 5px 20px 5px; 
  cursor: pointer;
}

.btn:hover {
  background-color: none;
}

.btn active {
    background-color: #333333;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 80px;
}


.caption {
    display: block;
    font-size: 12px; 
    padding: 0px 5px, 0px, 5px;
}

.caption:hover {
  color:#F1C40F;
}


#columns {
    column-width: 990px;
    width: 90%;
    max-width: 1100px;
    margin: 20px auto 0px auto;
    text-align: center;
}


div#columns figure {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 15px;
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
  display: inline-block;
  width: 88%;
  min-width: 30%;
  column-break-inside: avoid;
  -webkit-box-shadow: 0px 10px 50px -18px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 10px 50px -18px rgba(0,0,0,0.1);
box-shadow: 0px 10px 50px -18px rgba(0,0,0,0.1);
}


div#columns figure figcaption {
  font-size: 18px;
  color: #555555;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 5px;
   font-weight:bold;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}

#profilebox{
  padding-top: 10px;
    margin-bottom: 10px;
}

.footer {
  text-align: center!important;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 10px;
  color: #bbbbbb;
}