/* stylelint-disable selector-list-comma-newline-after */

html{
  text-decoration: none!important;
  word-break:keep-all;
  overflow-y: scroll;
  overflow-anchor: none;
}

@media (min-width:1200px){
.container{
  max-width:1024px!important;
}
}

header{
  position:fixed;
  top:0;
  z-index:2;
  width:100%;
  border-bottom: 0.05rem solid #d5d7db;
  background-color:rgba(241,242,243,0.88);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

a{
  text-decoration: none!important;
  color: #3fb572;
}

a:hover{color:#3fb572;}

body{
  position:relative;
  min-height: 100vh;
  margin-top: 90px;
  background-color: #f1f2f3;
  font-size: 1rem;
  line-height:1.25;
}

::selection {
  background: #d5d7db; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #d5d7db; /* Gecko Browsers */
}

.jumbotron-profilecard{   
  background: url('assets/img/main/1.png');
  background-size: cover, 100% 100%;
  background-position : right, center;
}

.jumbotron{
  border:1px solid #dedede;
  border-radius:30px!important;
}

.header {
  font-weight: 500;
  color: #3e4549!important;
}


/* --- font 0 --- */

h1, h2 {
  font-family: 'Inter', verdana, arial, sans-serif;
  font-weight:900;
  color:#3e4549;
}

h3, h4, h5 {
  font-family: 'Inter', verdana, arial, sans-serif;
  font-weight:800;
  color:#3e4549;
}

h6 { 
  font-family: 'Inter', verdana, arial, sans-serif;
  font-size:1rem;
  font-weight:600;
  color:#51575b;
  line-height:1.5;
}

p{
  font-family:  'Inter', verdana, arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color:#51575b;
}

/* --- font 1 --- */

.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  line-height: 2.2;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.nav-dm{
  background: #3fb572;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align:center;
  padding: 0.25rem 0.725rem;
  border-radius: 0.5rem;

}

.nav-dm:hover{
  background: #3fb572;
  color: white;
}

.icon-blog{
  display: inline-block;
  width:32px;
  height:32px;
  position:relative;
}

.icon-blog .blogHovered{
  display: none;
  position:absolute;
  top:0;
  left:0;
  z-index:99;
}

.icon-blog:hover .blogHovered{
  display: inline;
}

.icon-project{
  display: inline-block;
  width:32px;
  height:32px;
  position:relative;
}

.icon-project .projectHovered{
  display: none;
  position:absolute;
  top:0;
  left:0;
  z-index:99;
}

.icon-project:hover .projectHovered{
  display: inline;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container .jumbotron {
  border-radius: 15px!important ;
}

.jumbotron {
  margin-bottom:1rem!important;
}

.banner-title{
  padding:  88px 36px 48px;
  background-color:rgba(63,181,114,0.08);
  border: 1px solid #3fb572;
}

.banner-title .title-position{
  font-size: 1rem;
  font-weight: bold;
  color: #3fb572;
  margin-bottom: 0;
}

.banner-title .title-name{
  font-size: 1.75rem;
  letter-spacing: -1px;
  color: #111314;
  margin: 0;
}

.banner-project{
  padding:  36px 36px 16px;
  background-color:rgba(230,232,234,0.5);
}

.banner-project .project-category{
  font-size: 14px;
  font-weight:600;
  color: #88929c;
  margin-bottom: 0;
}

.banner-project .project-name{
  font-size: 20px;
  color: #3e4549;
  margin-bottom: 1rem;
}

.banner-project .project-position{
  font-size: 14px;
  font-weight: bold;
  color: #3fb572;
  margin-bottom: 0;
}

.banner-project .project-time{
  font-size: 14px;
  color: #88929c;
  font-style: italic;
}

.banner-study{
  padding:  1rem 48px 1rem;
  background-color:rgba(230,232,234,0.5);
}

.banner-study .study-category{
  font-size: 14px;
  line-height: 1rem;
  font-weight:600;
  color: #88929c;
  margin-bottom: 0.25rem;
}
.banner-study .study-name{
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #3e4549;
}
.banner-study .study-desc{
  font-size: 14px;
  color: #88929c;
  font-style: italic;
  margin:0;
}

.chart {
  margin-top:0.5rem;
  height: 0.75rem;
  width: 100%;
  border-radius: 1rem;
  background-color:#dee0e3;
}

.chart div {
  height: 100%;
  float: left;
}

.chart-fill{
  border-radius: 1rem;
  background-color:#aab1b8;
}

.about-title{
  margin:0;
  color:#3fb572;
}

.about-role{
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.about-description{
  margin: 0;
  font-size: 0.875rem;
  color:#737e8a;
}

.section-title{
  margin: 0;
}

.section-description{
  margin:0!important;
  font-size:0.875rem;
  color:#737e8a;
}

.list-icontext li{
  margin-bottom: 1rem;
  line-height: 1rem;
}

li span{
  vertical-align: middle;
}


/*--------*/
/* Footer */
/*--------*/

.footer {
  margin-top:90px;  
  padding: 2.5rem 0;
  text-align: left;
  background-color: #e6e8ea;
  border-top: .05rem solid #d5d7db;

}
.footer img{margin-bottom: 1rem;}

.footer p{
  font-size: 12px;
  font-weight:400;
  color: #88929c;
}

.footer p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {

  .banner-title{
  padding:  64px 0.725rem;
  }

  .banner-title .title-position{
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0;
  }

  .banner-title .title-name{
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 0;
  }

  .banner-project{
  padding:  1.75rem 1.5rem 0.725rem;
  }

  .banner-study{
    padding:  0.5rem 1.5rem 0.725rem;
    }
}

