/* PORTFOLIO-style.CSS 2019 by Chung-bok Lee*/
/* Style begins */
/*-------------------Main Components Layout in Design-tool style-------------------*/
/*-------------------Inner-Universal Style (Code starts=us)-------------------*/
h1{font-family:'Lato',sans-serif;font-weight:800;font-size:20px; margin:10px 0}/*Big Title, 이름 등*/
h2{font-family:'Lato',sans-serif;font-weight:600;font-size:18px; margin:10px 0;}/*Experience, Education 기관 이름*/
h3{font-family:'Lato',sans-serif;font-weight:800;font-size:15px;}/*Inner-box Sub-title*/
h4{font-family:'Open Sans',sans-serif;font-weight:600;font-size:12px;}/*Skill Groups*/
p{font-family:'Open Sans',sans-serif;font-weight:400;font-size:12px; margin:8px auto 8px 0;}/*W O R D*/
b{font-family:'Open Sans',sans-serif;font-weight:600;font-size:12px;}
.us-smaller-fonts{font-family:'Open Sans',sans-serif;font-weight:400;font-size:12px!important;}
.us-centering{width:auto;text-align:center!important;}
.us-currenttag{background-color:#6acbfb;color:#ffffff;display:inline-block;margin-left:2px;padding:1.5px 10px;text-align:center;border-radius:18px;font-size:13px;font-weight:600;}
.us-container{padding:0.01em 16px;margin-top:20px;margin-bottom:20px;} /*for Right Layers only*/
.us-lightfilter{opacity:0.88}

/*-------------------Layers Style (Code starts=cb)-------------------*/
.cb-background{
color:#000!important;
background-color:#f6f8f9!important;
}
.cb-footer-web{padding:0.01em 16px;color:#f1f2f3;}
.cb-footer-mobile{padding:0.01em 16px;color:#f1f2f3;display:none;}
footer.cb-footer-mobile a{}

.cb-layer01{
margin-left:auto;
margin-right:auto;
margin-top:16px!important;
margin-bottom:33px;
}

.cb-layer02:after,.cb-layer02:before{
content:"";display:table;clear:both;
}
.cb-layer02,.cb-layer02>.cb-left,.cb-layer02>.cb-right{
padding:0 8px;
border-radius: 25px;
}
.cb-left{
float:left;
margin-bottom:18px;
border-radius:25px;
}
.cb-left-layer01{
background-color:rgba(255,255,255,0.8)!important;
border-radius: 25px;
-webkit-box-shadow: 0px 33px 88px -8px rgba(222,224,227,0.5);
-moz-box-shadow: 0px 33px 88px -8px rgba(222,224,227,0.5);
box-shadow: 0px 33px 88px -8px rgba(222,224,227,0.5);
}
.cb-left-layer01-layout{
position:relative;
top:20px;
margin:0 10px;
padding:0.01em 16px;
}
.cb-left-layer01-profilepicture{
position:relative;
text-align:center;
}
.cb-left-layer01-profilepicture img{
max-width:66%;
border-top-left-radius:25px;
border-top-right-radius:25px;
opacity:0.95;
}
.cb-left-layer01-basicinfo i{
margin-right:10px!important;
}
.cb-left-layer01-basicinfo p{
font-family: 'Lato', sans-serif!important;
font-weight:400;
color:#626c76;
}
.cb-left-layer01-basicinfo-language-graph-outer{
color:#fff!important;background-color:#dee0e3!important;
border-radius:16px;
}
.cb-left-layer01-basicinfo-language-graph-inner{
/*For Colors - set it in HTML Doc*/
border-radius:16px;
}
.cb-right{
float:right;
width:100%; 
border-radius: 25px;
}
.cb-right-box{
color:#000!important;
background-color:rgba(255,255,255,0.8)!important;
border-radius: 25px;
margin-bottom:18px!important;
padding:0.01em 16px;
-webkit-box-shadow: 0px 33px 88px -8px rgba(222,224,227,0.5);
-moz-box-shadow: 0px 33px 88px -8px rgba(222,224,227,0.5);
box-shadow: 0px 33px 88px -8px rgba(222,224,227,0.5);
display: block;
width:100%;
}
.cb-right-box-title{
padding-top:16px!important;
margin-left:15px;
font-family:'Lato',sans-serif;font-weight:600;
font-size:16px;
}
.cb-right-box-title a{text-decoration:none;}

img.cb-portfolio-thumb {
  width:88px;
  margin-right:10px;
  border-radius:15px;
}
.cb-portfolio-title{font-family:'Open Sans',sans-serif;font-weight:600;display:inline-block;vertical-align:middle;color:#111314;font-size:15px;}
.cb-portfolio-subtitle{font-family:'Open Sans',sans-serif;font-weight:600; color:#282b2e!important;font-size:12px;}
.cb-portfolio-words{font-family:'Open Sans',sans-serif;font-weight:400; color:#282b2e!important;font-size:12px;}



.cb-image{}img{vertical-align:middle}a{color:inherit}
.cb-table,.cb-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.cb-table-all{border:1px solid #ccc}
.cb-bordered tr,.cb-table-all tr{border-bottom:1px solid #ddd}.cb-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.cb-table-all tr:nth-child(odd){background-color:#fff}.cb-table-all tr:nth-child(even){background-color:#f1f1f1}
.cb-hoverable tbody tr:hover,.cb-ul.cb-hoverable li:hover{background-color:#ccc}.cb-centered tr th,.cb-centered tr td{text-align:center}
.cb-table td,.cb-table th,.cb-table-all td,.cb-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.cb-table th:first-child,.cb-table td:first-child,.cb-table-all th:first-child,.cb-table-all td:first-child{padding-left:16px}
.cb-btn,.cb-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.cb-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.cb-btn,.cb-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.cb-disabled,.cb-btn:disabled,.cb-button:disabled{cursor:not-allowed;opacity:0.3}.cb-disabled *,:disabled *{pointer-events:none}
.cb-btn.cb-disabled:hover,.cb-btn:disabled:hover{box-shadow:none}
.cb-badge,.cb-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.cb-badge{border-radius:50%}
.cb-ul{list-style-type:none;padding:0;margin:0}.cb-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.cb-ul li:last-child{border-bottom:none}
.cb-tooltip .cb-tooltip .cb-text{display:none}.cb-tooltip:hover .cb-text{display:inline-block}
.cb-ripple:active{opacity:0.5}.cb-ripple{transition:opacity 0s}
.cb-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.cb-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.cb-dropdown-click,.cb-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.cb-dropdown-hover:hover .cb-dropdown-content{display:block}
.cb-dropdown-hover:first-child,.cb-dropdown-click:hover{background-color:#ccc;color:#000}
.cb-dropdown-hover:hover > .cb-button:first-child,.cb-dropdown-click:hover > .cb-button:first-child{background-color:#ccc;color:#000}
.cb-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.cb-check,.cb-radio{width:24px;height:24px;position:relative;top:6px}
.cb-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.cb-bar-block .cb-dropdown-hover,.cb-bar-block .cb-dropdown-click{width:100%}
.cb-bar-block .cb-dropdown-hover .cb-dropdown-content,.cb-bar-block .cb-dropdown-click .cb-dropdown-content{min-width:100%}
.cb-bar-block .cb-dropdown-hover .cb-button,.cb-bar-block .cb-dropdown-click .cb-button{width:100%;text-align:left;padding:8px 16px}
.cb-main,#main{transition:margin-left .4s}
.cb-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.cb-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.cb-bar{width:100%;overflow:hidden}.cb-bar .cb-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.cb-bar .cb-dropdown-hover,.cb-bar .cb-dropdown-click{position:static;float:left}
.cb-bar .cb-button{white-space:normal}
.cb-bar-block .cb-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}

.cb-responsive{display:block;overflow-x:auto}


@media (min-width:810px){.cb-left{width:30%}.cb-right{width:70%} nav.cb-nav-mobile{display:none;}}
@media screen and (max-width:809px){
nav.cb-nav-web{display:none;}
nav.cb-nav-mobile{display:block;}
.cb-footer-mobile{display:block;}
.cb-footer-web{display:none;}
.cb-left{display:none;}
.cb-right-box-title{margin-bottom:5px;}
div.cb-thumbnailtab-next{vertical-align:middle;}
div.cb-thumbnailtab-next img{width: 30%;border-radius:8px;}
div.cb-thumbnailtab-jewelry{width:88px;}
div.cb-thumbnailtab-jewelry img{width: 100%;border-radius:8px;}
div.cb-thumbnailtab-graphics{height:88px;}
div.cb-thumbnailtab-graphics img{height: 100%;border-radius:8px;}
img.cb-portfolio-thumb {margin-bottom:10px; width:77px; margin-right:7px;}
.cb-portfolio-subtitle,.cb-portfolio-words{font-size:11px;}
}